Centura2Java/Centura2Java/.vs/Centura2Java/v15/Server/sqlite3/storage.ide-shm
Centura2Java/Centura2Java/Centura2Java/bin/Debug/Centura2Java.exe
Centura2Java/Centura2Java/Centura2Java/obj/Debug/Centura2Java.exe
Centura2Java/Centura2Java/Centura2Java/obj/Debug/Centura2Java.pdb
Centura2Java/Centura2Java/Centura2Java/bin/Debug/Centura2Java.pdb
Centura2Java/Centura2Java/.vs/Centura2Java/v15/Server/sqlite3/storage.ide-wal
